<div class="social">
  <span class="contacticon center">
    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square"></i></a>
    <a href="https://scholar.google.com/citations?authorid={{ site.scholar_authorid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar-square"></i></a>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
  </span>

  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>
